node_modules/
*/**/node_modules/
coverage/
.nyc_output/
dist/
umd/
*/**/dist/

*/**/yarn.lock
yarn-error.log
*/**/package-lock.json
package-lock.json

.DS_Store
.idea
.vscode/

/bundle*.js
/favicon.png
/index.html

npm-debug.log

examples/econdata-preconfig/build/bundle\.js

examples/econdata-preconfig/build/bundle\.js\.map

examples/econdata-preconfig/src/data/economic_loss_40k\.csv\.js

examples/econdata-preconfig/src/data/economicloss146k_enh\.csv\.js
